swagger: '2.0'
info:
  title: Catalog API
  description: Get course information for OSU.
  version: "1.0.0"
  license:
    name: GNU Affero General Public License Version 3
    url: http://www.gnu.org/licenses/agpl-3.0.en.html
externalDocs:
  description: GitHub Repository
  url: https://github.com/osu-mist/class-search-api
schemes:
  - https
host: api.oregonstate.edu
basePath: /v1/catalog
produces:
  - application/json
paths:
  /courses:
    get:
      tags:
        - courses
      description: "Searches for the classes available for registration given a term code, subject and course number."
      parameters:
        - in: query
          name: term
          description: "The term code is based on the fiscal year. To find the term that you an appropriate value, first query `/terms/open` or `/terms` and use the `code` value."
          required: true
          type: string
        - in: query
          name: subject
          description: "This is a two to four letter course subject. To find a list of appropriate subjects, you can query: `/subjects` and use the `abbreviation` value."
          required: false
          type: string
        - in: query
          name: courseNumber
          description: "This is the course number associated with a class. For example, the value `111` is the course number for MTH 111."
          required: false
          type: string
        - in: query
          name: q
          description: "Searches class title, description, and subject"
          required: false
          type: string
        - $ref: '#/parameters/pageSize'
        - $ref: '#/parameters/pageNumber'
        - $ref: '#/parameters/pretty'
      responses:
        "200":
          description: "Successful response"
          schema:
            $ref: "#/definitions/CoursesResultObject"
        "400":
          description: "Bad request"
          schema:
            $ref: "#/definitions/Error"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/Error"
  /subjects:
    get:
      tags:
        - subjects
      description: "Get all course subjects."
      parameters:
        - $ref: '#/parameters/pageSize'
        - $ref: '#/parameters/pageNumber'
        - $ref: '#/parameters/pretty'
      responses:
        "200":
          description: "Successful response"
          schema:
            $ref: "#/definitions/SubjectsResultObject"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/Error"
  /subjects/{id}:
    get:
      tags:
        - subjects
      description: "Get a subject by ID."
      parameters:
        - in: path
          name: id
          type: string
          description: "ID of subject."
          required: true
        - $ref: '#/parameters/pretty'
      responses:
        "200":
          description: "Successful response"
          schema:
            $ref: "#/definitions/SubjectResultObject"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/Error"
  /terms:
    get:
      tags:
        - terms
      description: "Get all academic terms."
      parameters:
        - $ref: '#/parameters/pageSize'
        - $ref: '#/parameters/pageNumber'
        - $ref: '#/parameters/pretty'
      responses:
        "200":
          description: "Successful response"
          schema:
            $ref: "#/definitions/TermsResultObject"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/Error"
  /terms/{termCode}:
    get:
      tags:
        - terms
      description: "Get a subject by ID."
      parameters:
        - in: path
          name: termCode
          type: string
          description: "Term code."
          required: true
        - $ref: '#/parameters/pretty'
      responses:
        "200":
          description: "Successful response"
          schema:
            $ref: "#/definitions/TermResultObject"
        "404":
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/Error"
parameters:
  pretty:
    name: pretty
    in: query
    type: boolean
    required: false
    description: If true, JSON response will be pretty-printed
  pageSize:
    in: query
    name: page[size]
    description: "Number of results to return. Used in pagination. Default value is 10."
    required: false
    type: string
  pageNumber:
    in: query
    name: page[number]
    description: "Page number of results. Used to paginate through results."
    required: false
    type: string

definitions:
  CoursesResultObject:
    properties:
      links:
        $ref: "#/definitions/Links"
      data:
        type: array
        items:
          $ref: "#/definitions/CourseResourceObject"
      meta:
        $ref: '#/definitions/Meta'
  CourseResourceObject:
    properties:
      id:
        type: string
      type:
        type: string
        example: "courses"
      attributes:
        properties:
          academicYear:
            description: Code value to identify the academic year for the term.
            type: string
            example: "1819"
          academicYearDescription:
            description: Short summary of the academic year for the term.
            type: string
            example: "Academic Year 2018-19"
          courseReferenceNumber:
            description: Uniquely identifies a course section for a given term.
            type: string
            example: "123456"
          courseSubject:
            description: Abbreviated course subject.
            type: string
            example: "ECON"
          courseSubjectDescription:
            description: Description of course subject.
            type: string
            example: "Economics"
          courseNumber:
            type: string
            example: "352"
          courseTitle:
            description: Title of the course.
            type: string
            example: "Environmental Economics & Policy"
          sectionNumber:
            description: The unique section of a specific course number.
            type: string
            example: "001"
          term:
            description: The term that this course is scheduled for.
            type: string
            example: "201901"
          termDescription:
            description: Description of the term.
            type: string
            example: "Fall 2018"
          scheduleDescription:
            description: Human readable schedule type for the course (agnostic of meeting times).
            type: string
            example: "Lecture"
          scheduleType:
            description: Type of schedule for the course (agnostic of meeting times).
            type: string
            example: "A"
            enum: [B, C, D, E, F, G, H, I, J, K, A, L, M, N, O, P , Q, R, S, T, U, W, Y, Z, V, X, MID, FIL, HYB]
          creditHours:
            description: Credit hours of the course.
            type: integer
            example: 3
          waitlistAvailable:
            description: Available seats on waitlist for this section.
            type: integer
            example: 5
          waitlistCapacity:
            description: Total capacity of the waitlist for this section.
            type: integer
            example: 5
          waitlistCount:
            description: Current count of filled seats on the waitlist for this section.
            type: integer
            example: 0
          faculty:
            description: Faculty and instructors associated with this course.
            type: array
            items:
              properties:
                osuID:
                  description: Person ID for the faculty.
                  type: string
                  example: "937654321"
                  #todo: is this ID private/sensitive data?
                name:
                  description: Display name of the faculty.
                  type: string
                  example: "Johnson, Bob"
                email:
                  description: Email address of the faculty.
                  type: string
                  example: "bob.johnson@oregonstate.edu"
                primary:
                  description: Indicates whether the faculty is the primary faculty for the course.
                  type: boolean
                  example: true
          meetingTimes:
            description: Weekly meeting times for the course.
            type: array
            items:
              properties:
                beginDate:
                  description: The starting date of the meeting time schedule.
                  type: string
                  format: date
                  example: "2018-09-20"
                beginTime:
                  description: The starting time of the meeting time for the course in 24 hour format.
                  type: string
                  example: "14:00:00"
                endDate:
                  description: The ending date of the meeting time schedule.
                  type: string
                  format: date
                  example: "2018-11-30"
                endTime:
                  description: The starting time of the meeting time for the course in 24 hour format.
                  type: string
                  example: "14:50:00"
                room:
                  description: Room where the meeting time meets.
                  type: string
                  example: "100"
                building:
                  description: The building abbreviation of the meeting time.
                  type: string
                  example: "LINC"
                buildingDescription:
                  description: The name of the building.
                  type: string
                  example: "Learning Innovation Center"
                campus:
                  description: Campus location of the meeting time.
                  type: string
                  example: "Oregon State - Corvallis"
                hoursPerWeek:
                  description: The amount of hours this meeting time meets per week.
                  type: number
                  format: float
                  example: 1.66
                creditHourSession:
                  description: Session credit hours for this meeting time.
                  type: integer
                  example: 2
                scheduleType:
                  description: |
                    Type of schedule for this given meeting type.
                    B: Discussion
                    C: Recitation
                    D: Laboratory
                    E: Seminar
                    F: Independent or Special Studies
                    G: Research
                    H: Activity
                    I: Experimental
                    J: Internship
                    K: Streaming Media
                    A: Lecture
                    L: Tutorial
                    M: Practicum
                    N: Reading and Conference
                    O: Experiential/Co-op Education
                    P: Programmed Instruction
                    Q: Thesis
                    R: Studio
                    S: Project
                    T: Telecourse/Distance Learning
                    U: Externship
                    W: Workshop
                    Y: Online
                    Z: Modular
                    V: Examination for Credit
                    X: One-time Event
                    MID: Midterm Exam
                    FNL: Final Exam
                    HYB: Hybrid
                  type: string
                  example: "A"
                  enum: [B, C, D, E, F, G, H, I, J, K, A, L, M, N, O, P , Q, R, S, T, U, W, Y, Z, V, X, MID, FIL, HYB]
                meetsSunday:
                  description: Whether this meeting time meets on Sunday.
                  type: boolean
                  example: false
                meetsMonday:
                  description: Whether this meeting time meets on Monday.
                  type: boolean
                  example: true
                meetsTuesday:
                  description: Whether this meeting time meets on Tuesday.
                  type: boolean
                  example: false
                meetsWednesday:
                  description: Whether this meeting time meets on Wednesday.
                  type: boolean
                  example: true
                meetsThursday:
                  description: Whether this meeting time meets on Thursday.
                  type: boolean
                  example: false
                meetsFriday:
                  description: Whether this meeting time meets on Friday.
                  type: boolean
                  example: true
                meetsSaturday:
                  description: Whether this meeting time meets on Saturday.
                  type: boolean
                  example: false
  SubjectsResultObject:
    properties:
      links:
        $ref: "#/definitions/Links"
      data:
        type: array
        items:
          $ref: "#/definitions/SubjectResourceObject"
      meta:
        $ref: '#/definitions/Meta'
  SubjectResultObject:
    properties:
      links:
        $ref: "#/definitions/Links"
      data:
        $ref: "#/definitions/SubjectResourceObject"
      meta:
        $ref: '#/definitions/Meta'
  SubjectResourceObject:  
    properties:
      id:
        type: string
        description: "Globally unique indentifier for subject."
        example: "994d9fc2-17b3-426f-903b-36276fe8fb2a"
      type:
        type: string
        example: "subjects"
      links:
        $ref: "#/definitions/SelfLink"
      attributes:
        properties:
          abbreviation:
            type: string
            description: "Abbreviated subject name."
            example: "CS"
          title:
            type: string
            description: "Human readable subject name."
            example: "Computer Science"
  TermsResultObject:
    properties:
      links:
        $ref: "#/definitions/Links"
      data:
        type: array
        items:
          $ref: "#/definitions/TermResourceObject"
      meta:
        $ref: '#/definitions/Meta'
  TermResultObject:
    properties:
      links:
        $ref: "#/definitions/Links"
      data:
        $ref: "#/definitions/TermResourceObject"
      meta:
        $ref: '#/definitions/Meta'
  TermResourceObject:
    properties:
      id:
        type: string
        description: "Term code."
        example: "201901"
      type:
        type: string
        example: "terms"
      links:
        $ref: "#/definitions/SelfLink"
      attributes:
        properties:
          code:
            type: string
            description: |
              Six digit code to identify the fiscal year and term.
              For example, Fall 2016 is identified as: 201701 and Summer 2016 as: 201700.
              This code is used to search for classes in a given term.
            example: "201901"
          description:
            type: string
            description: "Human readable academic term description."
            example: "Fall 2018"
          startDate:
            type: string
            format: date
            description: "First day of classes in this term."
            example: "2018-09-20"
          endDate:
            type: string
            format: date
            description: "Last day of classes in this term."
            example: "2018-12-07"
          financialAidYear:
            type: string
            description: "Aid year associated with this term. This is a four digit code. For example, for Summer 2016, the value would be: 1617"
            example: "1819"
          housingStartDate:
            type: string
            format: date
            description: "First day for meal plan and housing assignments."
            example: "2018-09-23"
          housingEndDate:
            type: string
            format: date
            description: "Last day for meal plan and housing assignments."
            example: "2018-12-08"
  Links:
    properties:
      self:
        type: string
        format: url
      first:
        type: string
        format: url
      last:
        type: string
        format: url
      prev:
        type: string
        format: url
      next:
        type: string
        format: url
  SelfLink:
    properties:
      self:
        type: string
        format: url
  Meta:
    properties:
      totalResults:
        type: integer
        description: Total number of results
        example: 10
      totalPage:
        type: integer
        description: Total number of pagess
        example: 10
      currentPageNumber:
        type: integer
        description: Page number of the returned results
        example: 1
      currentPageSize:
        type: integer
        description: Number of results per page
        example: 25
  Error:
    properties:
      errors:
        type: array
        items:
          properties:
            status:
              type: string
              description: HTTP status code.
            links:
              properties:
                about:
                  type: string
                  format: url
                  description: Link to further information about the error.
            code:
              type: string
              description: Application specific error code.
            title:
              type: string
              description: Short summary of the error.
            detail:
              type: string
              description: A human-readable explanation specific to this occurrence of the problem.